body {
    margin: 0;
    font-family: sans-serif;
}

.gradient {
    background-image: linear-gradient(135deg,#0061f2 0%,rgba(105,0,199,0.8) 100%);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.navbar a.logo {
    color: white;
}

.navbar a.logo:hover {
    color: rgba(255, 255, 255, 0.808);
}

ul {
    display: flex;
    list-style: none;
    gap: 50px
}

.navbar a {
    text-decoration: none;
    color: rgb(131, 200, 240);
}

.navbar a:hover {
    color: rgb(180, 223, 248);
}

.navbar button {
    background-color: rgb(0, 204, 68);
    color: rgb(233, 233, 233);
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 30px;
    border: 0px;
    letter-spacing: 1px
}

.navbar button:hover {
    background-color: rgba(0, 204, 68, 0.74);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 150px 0;
    border-radius: 50%;
}

.container .col-1 {
    width: 500px;
    color: white;
}

.container .col-1 h1 {
    font-size: 46px;
    font-weight: lighter;
    margin-bottom: -10px;
    margin-right: 100px;
}

.container .col-1 p {
    font-size: 1.15rem;
    font-weight: lighter;
    color: #9eb8ff;
    line-height: 1.5;
}

.container button {
    background-color: rgba(22, 255, 41, 0.575);
    color: white;
    font-weight: 800;
    font-size: 11px;
    letter-spacing: 2px;
    padding: 16px 20px;
    border-radius: 30px;
    border: 0px;
    margin-right: 20px
}

.container button:hover {
    background-color: rgba(22, 255, 41, 0.377);
}

.container a {
    color: white;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 900;
    text-decoration: none;
}

.container a:hover {
    color: rgb(216, 216, 216);
    text-decoration: underline;
}

.container .col-2 {
    transform: rotateY(-30deg) rotateX(15deg);
    box-shadow: 10px 10px 50px black;
}

.selling-points-section {
    background-color: white;
}

.selling-points-container {
    display: flex;
    justify-content: center;
    gap: 60px
}

.icon {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 330px;
    font-size: 18px;
    line-height: 1.5;
    margin: 90px 0;
}

.card h3 {
    margin-bottom: 0;
}

.card p {
    margin-top: 6px;
    color: rgb(122, 122, 122);

}

/* ICONS WITH TEXT SECTION */